{% set assPath='../../assets' %}
{% set imgPath='../../assets/images' %}
{% set ruiPath='../../assets/js/lib/rui2.8' %}
{% set headTitle = title if title else 'Hi-Run System' %}
{% set cat = cat if cat else 'cat' %}
{% set page = page if page else 'page' %}
{% set ruiSample = '../../assets/js/lib/rui2.8' %}

{%- macro include(fileName) -%}
    {%- include fileName ignore missing -%}
{%- endmacro -%}
{#- // 들여쓰기(Tab Indent) 조정을 위한 macro -#}
<!DOCTYPE html>
<html lang="ko" class="ct-{{cat}} pg-{{page}} lo-{{page if (isNotHeaderFooter==true and not(cat=='ui')) else 'default'}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{headTitle}}</title>
    <link rel="icon" href="{{imgPath}}/favicon.png">

    <!-- RUI import -->
    <!-- <script type="text/javascript" src="{{ruiPath}}/js/rui_base.js"></script>
    <script type="text/javascript" src="{{ruiPath}}/js/rui_core.js"></script>
    <script type="text/javascript" src="{{ruiPath}}/js/rui_ui.js"></script>
    <script type="text/javascript" src="{{ruiPath}}/js/rui_form.js"></script>
    <script type="text/javascript" src="{{ruiPath}}/js/rui_grid.js"></script>
    <script type="text/javascript" src="{{ruiPath}}/resources/rui_config.js"></script>
    <script type="text/javascript" src="{{ruiPath}}/resources/rui_license.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ruiPath}}/resources/rui.css" /> -->
    <script language="JavaScript" type="text/javascript" src='{{ruiPath}}/js/rui_base.js'></script>
    <script language="JavaScript" type="text/javascript" src='{{ruiPath}}/js/rui_core.js'></script>
    <script language="JavaScript" type="text/javascript" src='{{ruiPath}}/js/rui_ui.js'></script>
    <script language="JavaScript" type="text/javascript" src='{{ruiPath}}/js/rui_form.js'></script>
    <script language="JavaScript" type="text/javascript" src='{{ruiPath}}/js/rui_grid.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/ui/LLoadPage.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/resources/rui_config.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/resources/locale/lang-ko_KR.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/resources/locale/lang-en_US.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/ui/grid/LGridView.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/ui/grid/LGridPanelExt.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/ui/grid/LGridStatusBar.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/ui/grid/LTableView.js'></script>
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/ui/LFrameDialog.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ruiPath}}/resources/rui.css" />
    <link rel="stylesheet" type="text/css" href="{{ruiPath}}/resources/rui_skin_blue.css" />
    <script language="JavaScript" type='text/javascript' src='{{ruiPath}}/plugins/tab/rui_tab.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ruiPath}}/plugins/tab/rui_tab.css" />

    <script type="text/javascript" src="{{ruiPath}}/plugins/ui/LTooltip.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ruiPath}}/plugins/ui/LTooltip.css" />
    
    <!-- jquery import -->
    <script type='text/javascript' src='{{assPath}}/js/lib/jquery-3.7.1.min.js'></script>
    <!-- aos import -->
    <script type='text/javascript' src="{{assPath}}/js/lib/aos@2.3.1/aos.js"></script>
    <link rel="stylesheet" type="text/css" href="{{assPath}}/js/lib/aos@2.3.1/aos.css" />
    <!-- publish import -->
    <script type='text/javascript' src='{{assPath}}/js/ui.js'></script>
    <link rel="stylesheet" type="text/css" href="{{assPath}}/css/ui.css" />

</head>
<body>

<div class="hirun-wrap">

{#- // header,footer 없을경우 -#}
{% if isNotHeaderFooter == true %}
    {% filter tabIndent(1) %}
        {% block wrap %}
        {% endblock %}
    {% endfilter %}
{% else %}
{#- // header,footer 있을경우 -#}

    {# {% if isNotHeader !== true %} #}
    {{ include('./header.html') | tabIndent(1) }}
    {# {% endif %} #}

    <!-- ************************************************************************************************ -->
    <!-- *****************************************  main start  ***************************************** -->
    <main class="main">
        {% filter tabIndent(2) %}
            {% block main %}
            {% endblock %}
        {% endfilter %}
    </main>
    <!-- ************************************************************************************************ -->
    <!-- *****************************************   main end   ***************************************** -->
    
    {# {% if isNotFooter !== true %} #}
    {{ include('./footer.html') | tabIndent(1) }}
    {# {% endif %} #}

{% endif %}

</div>

</body>
</html>