{% set isNotHeaderFooter = true %}
{% set cat = 'ui' %}
{% set page = 'ui' %}
{% set title = 'Hi-Run System - ui' %}
{% extends './_include/layout.html' %}

{% block wrap %}
<h1>FORM 요소</h1>
<h2>combo (select) 박스</h2>




<section>
    <h3>- Combo - default</h3>

    <p>RUI > form > Combo / LCombo</p>
    <p>콤보(LCombo)에 대한 기본적인 형태입니다. Script를 이용하여 값을 변경할 수 있습니다.</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_combo" id="comboSample01_01"></div>

    <script>
    Rui.onReady(()=>{
        let comboSample01_01 = new Rui.ui.form.LCombo({  
            applyTo: 'comboSample01_01',
            label: '디폴트 콤보박스',
            name: 'comboSample01',
            defaultValue: 'code2',
            //expandCount: 5,
            url: '{{ruiSample}}/sample/data/code.json', 
        });
        uiRUI(comboSample01_01); // uiux에서 컨트롤하기 위한 fn
    });
    </script>
    <!-- *****************************************  source end  ***************************************** -->
</section>



<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->



<section>
    <h3>- Combo - 콤보(Combo)의 목록 출력을 사용자가 원하는데로 출력(Using List Renderer)</h3>

    <p>RUI > form > Combo Renderer / LCombo</p>
    <p>콤보(Combo)의 목록을 임의로 변경할 수 있습니다. listRenerer를 사용하여 Combo 목록에 그려지는 값을 변경하세요.</p>
    <p>단 listRenderer로 html을 리턴할 경우에는 값을 구분할 수 있는 L-value-field css와 출력되는 내용을 구분할 수 있는 L-display-field css가 반드시 탑재되어 있어야 합니다.</p>
    <p>해당 css 하단의 문자열로 데이터(DataSet)에서 검색하여 위치를 선택합니다.</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_combo" id="comboSample02_01"></div>

    <script>
    Rui.onReady(()=>{
        let comboSample02_01 = new Rui.ui.form.LCombo({  
            applyTo: 'comboSample02_01',
            name: 'comboSample02',
            label: '커스텀 콤보박스',
            //id: 'comboSample02_01',
            // listWidth: 150,  // 사용 안함
            url: '{{ruiSample}}/sample/data/code.json', 
            
            listRenderer: function(record) {
                return '<div class="L-value-field">' + record.get(this.valueField) + '</div><div class="L-display-field">' + record.get(this.displayField) + '</div>';
            }
        });
        uiRUI(comboSample02_01); // uiux에서 컨트롤하기 위한 fn
    });
    </script>
    <!-- *****************************************  source end  ***************************************** -->
</section>



<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->



<section>
    <h3>- Combo - 멀티선택콤보(LMultiCombo)</h3>

    <p>RUI > form > Multi Combo / LMultiCombo</p>
    <p>LMultiCombo.js / LMultiCombo.css 별도로 추가</p>
    <p>멀티선택콤보(LMultiCombo)에 대한 기본적인 형태입니다.</p>
    <p>LMultiCombo는 LCombo가 하나의 단건을 선택할 수 있는 기능을 멀티건으로 선택할 수 있게 구현한 Combo 입니다.</p>
    <p>LMultiCombo가 여러 건을 처리하기 위해서는 Array가 아닌 문자열로 처리합니다. 이유는 다음과 같습니다.</p>
    <p>- LDataSet과 LBind의 값 연동시 값 type이 string, number, date 형만 존재하므로 배열로 처리할 수 없음.</p>
    <p>- form submit시 서버에 request 로 전송되는 파라미터는 배열을 전송할 수 없으므로 문자열로 처리되어야 함.</p>
    <p>값을 셋팅할 때는 setValue 메소드로 호출되고 호출 시 인수로는 separator(',') 문자열을 구분자로 사용합니다.</p>
    <p>값을 리턴할 때는 getValue 메소드를 호출하고 호출된 값을 상황에 따라 배열로 변경할 경우에는 문자열의 split 메소드로 인수로는 separator(',') 문자열로 배열을 만들 수 있습니다.</p>
    <p>콤보에서는 setRow나 setSelectedIndex가 적용되나 LMultiCombo는 setValue와 데이터셋에 있는 setMark/setMarkAll 메소드를 통해서만 값이 적용됩니다.</p>
    <p>※ 그리드와 연동되는 멀티콤보는 반드시 rendererField 속성을 적용하셔야 합니다 일반 콤보는 그리드 데이터셋의 맞는 값을 찾기 위해 한번의 for문을 사용하여 부담이 적지만</p>
    <p>멀티콤보는 한 셀의 값을 찾기 위해서 두번의 for문을 수행되어야 하기 때문에 IE8 기준에서는 성능 저하가 심하게 발생할 수 있습니다.</p>
    <p>성능저하 방지를 위해서 속도가 빠른 서버 기술을 이용하시기 바랍니다.</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_combo" id="comboSample03_01"></div>

    <script>
    Rui.onReady(()=>{
        let comboSample03_01 = new Rui.ui.form.LMultiCombo({  
            applyTo: 'comboSample03_01',
            name: 'comboSample03',
            label: '멀티선택 콤보박스',  // 사용ㅎ
            url: '{{ruiSample}}/sample/data/code.json', 
        });
        uiRUI(comboSample03_01); // uiux에서 컨트롤하기 위한 fn
    });
    </script>
    <!-- *****************************************  source end  ***************************************** -->
</section>



<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->



<section>
    <h3>- Combo - 여러개의 콤보(Combo) 데이터를 한번에 묶어서 로딩</h3>

    <p>RUI > form > Combo Multi Load Performance / LComboLoader</p>
    <p>LComboLoader.js 별도로 추가</p>
    <p>콤보(LCombo) 객체는 개별적으로 서버(Server)에서 자신의 데이터를 로딩합니다. 이러한 Combo 여러개를 묶어서 한번에 로딩하여 성능 향상에 효과를 얻을 수 있습니다.</p>
    <p>이 LComboLoader 기능은 Server 측 에서도 이 기능에 맞게 응답해야 합니다. 같이 제공되는 서버측 CMD도 같이 참고하시기 바랍니다.</p>
    <p>단 Ajax를 이용하여 데이터를 로딩하는것 보다 서버 기술을 이용하여 콤보의 데이터를 로딩하는게 성능이 훨씬 높습니다.(예: Custom Tag)</p>
    <!-- ***************************************** source start ***************************************** -->
    <fieldset>
        <label for="comboSample04_01">code01</label>              
        <select id="comboSample04_01" name="comboSample04_01"></select>
        <label for="comboSample04_02">code02</label>              
        <select id="comboSample04_02" name="comboSample04_02"></select>
        <label for="comboSample04_03">code03</label>              
        <select id="comboSample04_03" name="comboSample04_03"></select>
        <label for="comboSample04_04">code04</label>              
        <select id="comboSample04_04" name="comboSample04_04"></select>
        <label for="comboSample04_05">code05</label>              
        <select id="comboSample04_05" name="comboSample04_05"></select>
        <br />
        <label for="comboSample04_06">code05</label>              
        <select id="comboSample04_06" name="comboSample04_06"></select>
        <label for="comboSample04_07">code05</label>              
        <select id="comboSample04_07" name="comboSample04_07"></select>
        <label for="comboSample04_08">code05</label>              
        <select id="comboSample04_08" name="comboSample04_08"></select>
        <label for="comboSample04_09">code05</label>              
        <select id="comboSample04_09" name="comboSample04_09"></select>
        <label for="comboSample04_10">code05</label>              
        <select id="comboSample04_10" name="comboSample04_10"></select>
    </fieldset>

    <script>
    Rui.onReady(()=>{
        let comboSample04_01 = new Rui.ui.form.LCombo({  
            id: 'comboSample04_01',
            applyTo: 'comboSample04_01',
            label: '여러콤보(Combo) 데이터를 한번에',
            params: 'code01Combo=0014&abcd=def',
        });
        let loader = new Rui.ui.form.LComboLoader({
            emptyText: '전체'
        });

        // 콤보데이터 로딩을 위하여 서버측 cmd 호출시에는 같이 제공되는 서버측 cmd 'RetrieveMultiComboCmd.java' 파일을 참고.
        loader.load({
            url: '{{ruiSample}}/sample/data/codeMultipleLoad.json',
            comboInfo: [
                comboSample04_01, 
                { id: 'comboSample04_02', applyTo: 'comboSample04_02', emptyText: '선택하세요.', params: 'code02Combo=0015&abc1=def', label: '콤보박스' },
                { id: 'comboSample04_03', applyTo: 'comboSample04_03', listWidth: 300, params: 'code03Combo=0022&abc2=def2' },
                { applyTo: 'comboSample04_04', params: 'code04Combo=0029&abc3=def3' },
                { applyTo: 'comboSample04_05', params: 'code05Combo=0035&abc3=def3' },
                { applyTo: 'comboSample04_06', params: 'code06Combo=0038' },
                { applyTo: 'comboSample04_07', params: 'code07Combo=0043' },
                { applyTo: 'comboSample04_08', params: 'code08Combo=0049' },
                { applyTo: 'comboSample04_09', params: 'code09Combo=0059' },
                { applyTo: 'comboSample04_10', params: 'code10Combo=0064' },
            ]
        });
        console.log(loader);
        uiRUI(comboSample04_01); // uiux에서 컨트롤하기 위한 fn
    });
    </script>
    <!-- *****************************************  source end  ***************************************** -->
</section>






{% endblock %}