{% set isNotHeaderFooter = true %}
{% set cat = 'ui' %}
{% set page = 'ui' %}
{% set title = 'Hi-Run System - ui' %}
{% extends './_include/layout.html' %}

{% block wrap %}
<h1>Grid 요소</h1>
<h2>레이아웃 및 화면을 구성을 도와주는 컴포넌트</h2>




<section>
    <h3>- Grid - row (가로,default)</h3>

    <p>grid 1열</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding">
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    <p>grid 2열</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding">
        <div>내용</div>
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    <p>grid 3열</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding">
        <div>내용</div>
        <div>내용</div>
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    <p>grid 4열</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding">
        <div>내용</div>
        <div>내용</div>
        <div>내용</div>
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    <p>grid 5열</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding">
        <div>내용</div>
        <div>내용</div>
        <div>내용</div>
        <div>내용</div>
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>

<section>
    <h3>- Grid - column (세로, default)</h3>

    <p>grid 1행</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding isColumn">
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    <p>grid 2행</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="cp_grid isBorder isPadding isColumn">
        <div>내용</div>
        <div>내용</div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

</section>


{% endblock %}