{% set isNotHeaderFooter = false %}
{% set cat = 'ui' %}
{% set page = 'ui' %}
{% set title = 'Hi-Run System - ui' %}
{% extends './_include/layout.html' %}

{% block main %}
<h1>FORM > input 요소</h1>
<h2>text, date, checkbox, radio</h2>
<ul>
    <li>placeholder속성 사용안함, 대신 label태그 사용</li>
    <li>focus시, 라운드 진하게 그려짐</li>
    <li>focus이거나, value값 있거나,  제목(레이블) 위로 이동</li>
    <li>스몰버전 input은 .sz-small 추가, 또는 상위에 해당 class 추가하면 적용 됨</li>
</ul>


<section>
    <h3>- input [type=text]</h3>
    
    <p>input의 가장 기본적인 타입 text : value 값이 없는상태 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input">
        <div class="fmInner">
            <input type="text" id="input_text_default00" />
            <label for="input_text_default00">인풋이름00</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default01" />
            <label for="input_text_default01">인풋이름01</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    
    <p>input의 가장 기본적인 타입 text : 포커스 된 상태(자동추가) (.is-focus) </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input is-focus">
        <div class="fmInner">
            <input type="text" id="input_text_default02" />
            <label for="input_text_default02">인풋이름02</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input is-focus sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default03" />
            <label for="input_text_default03">인풋이름03</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->

    
    <p>input의 가장 기본적인 타입 text : value 값이 입력된 상태(자동추가) (.is-value) </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input is-value">
        <div class="fmInner">
            <input type="text" id="input_text_default04" value="value 값이 입력된 상태" />
            <label for="input_text_default04">인풋이름04</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input is-value sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default05" value="value 값이 입력된 상태" />
            <label for="input_text_default05">인풋이름05</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    

    <p>input의 가장 기본적인 타입 text : value 값이 잘못 입력되거나 validation에 부적합한 요소 (.is-error) </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input is-error">
        <div class="fmInner">
            <input type="text" id="input_text_default06" value="value 값이 잘못 입력된 상태" />
            <label for="input_text_default06">인풋이름06</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
        <p class="formMessage_error">이름을 확인해주세요.</p>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input is-error sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default07" value="value 값이 잘못 입력된 상태" />
            <label for="input_text_default07">인풋이름07</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
        <p class="formMessage_error">이름을 확인해주세요.</p>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    

    <p>input의 가장 기본적인 타입 text : disabled 상태</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input">
        <div class="fmInner">
            <input type="text" id="input_text_default08" value="value 값이 잘못 입력된 상태" disabled  />
            <label for="input_text_default08">인풋이름08</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default09" value="value 값이 잘못 입력된 상태" disabled  />
            <label for="input_text_default09">인풋이름09</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    

    <p>input의 가장 기본적인 타입 text : readonly 상태 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input">
        <div class="fmInner">
            <input type="text" id="input_text_default10" value="value 값이 잘못 입력된 상태" readonly />
            <label for="input_text_default10">인풋이름10</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-input sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default11" value="value 값이 잘못 입력된 상태" readonly />
            <label for="input_text_default11">인풋이름11</label>
            <button type="button" class="bt_form_clear">초기화</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>




<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->




<section>
    <h3>- input [type=text] 검색 인풋</h3>
    <p>input search 타입</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-search">
        <div class="fmInner">
            <input type="text" id="sampleInput_search00" />
            <label for="sampleInput_search00">검색인풋00</label>
            <button type="button" class="bt_form_clear">초기화</button>
            <button type="button" class="bt_form_search">검색</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-search sz-small">
        <div class="fmInner">
            <input type="text" id="input_text_default01" />
            <label for="input_text_default01">검색인풋01</label>
            <button type="button" class="bt_form_clear">초기화</button>
            <button type="button" class="bt_form_search">검색</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>




<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->




<section>
    <h3>- input [type=text] 날짜선택 인풋</h3>
    <p>input date 타입</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-date">
        <div class="fmInner">
            <input type="text" id="sampleInput_date00" />
            <label for="sampleInput_date00">날짜선택인풋00</label>
            <button type="button" class="bt_form_clear">초기화</button>
            <button type="button" class="bt_form_date">날짜선택</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-date sz-small">
        <div class="fmInner">
            <input type="text" id="sampleInput_date01" />
            <label for="sampleInput_date01">날짜선택인풋01</label>
            <button type="button" class="bt_form_clear">초기화</button>
            <button type="button" class="bt_form_date">날짜선택</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>




<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->




<section>
    <h3>- input [type=text] 시간선택 인풋</h3>
    <p>input time 타입</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-time">
        <div class="fmInner">
            <input type="text" id="sampleInput_time00" />
            <label for="sampleInput_time00">시간선택인풋00</label>
            <button type="button" class="bt_form_clear">초기화</button>
            <button type="button" class="bt_form_time">시간선택</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-time sz-small">
        <div class="fmInner">
            <input type="text" id="sampleInput_time01" />
            <label for="sampleInput_time01">시간선택인풋01</label>
            <button type="button" class="bt_form_clear">초기화</button>
            <button type="button" class="bt_form_time">시간선택</button>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>




<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->




<section>
    <h3>- input [type=checkbox] 체크박스</h3>
    <p>input checkbox 타입</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-check">
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check00" />
            <label for="sampleInput_check00">체크인풋00</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-check sz-small">
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check01" />
            <label for="sampleInput_check01">체크인풋01</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->


    <p>input checkbox 타입 : 각 상태별 형태 checked, disabled, readonly</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-check">
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check02" checked />
            <label for="sampleInput_check02">체크인풋02 checked</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check03" disabled />
            <label for="sampleInput_check03">체크인풋03 disabled</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check04" checked disabled />
            <label for="sampleInput_check04">체크인풋04 checked disabled</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check05" readonly />
            <label for="sampleInput_check05">체크인풋05 readonly</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check06" checked readonly />
            <label for="sampleInput_check06">체크인풋06 checked readonly</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-check sz-small">
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check07" checked />
            <label for="sampleInput_check07">체크인풋07 checked</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check08" disabled />
            <label for="sampleInput_check08">체크인풋08 disabled</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check09" checked disabled />
            <label for="sampleInput_check09">체크인풋09 checked disabled</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check10" readonly />
            <label for="sampleInput_check10">체크인풋10 readonly</label>
        </div>
        <div class="fmInner">
            <input type="checkbox" id="sampleInput_check11" checked readonly />
            <label for="sampleInput_check11">체크인풋11 checked readonly</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>
    



<!-- ************************************************************************************************* -->
<!-- ***************************************** source border ***************************************** -->
<!-- ************************************************************************************************* -->




<section>
    <h3>- input [type=radio] 라디오</h3>
    <p>input radio 타입</p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-radio">
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name00" id="sampleInput_radio00_1" />
            <label for="sampleInput_radio00_1">라디오인풋00_1</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name00" id="sampleInput_radio00_2" />
            <label for="sampleInput_radio00_2">라디오인풋00_2</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-radio sz-small">
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name01" id="sampleInput_radio01_1" />
            <label for="sampleInput_radio01_1">라디오인풋01_1</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name01" id="sampleInput_radio01_2" />
            <label for="sampleInput_radio01_2">라디오인풋01_2</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->


    <p>input checkbox 타입 : 각 상태별 형태 checked, disabled, readonly </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-radio">
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name02" id="sampleInput_radio02" checked />
            <label for="sampleInput_radio02">라디오인풋02 checked</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name03" id="sampleInput_radio03" disabled />
            <label for="sampleInput_radio03">라디오인풋03 disabled</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name04" id="sampleInput_radio04" checked disabled />
            <label for="sampleInput_radio04">라디오인풋04 checked disabled</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name05" id="sampleInput_radio05" readonly />
            <label for="sampleInput_radio05">라디오인풋05 readonly</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name06" id="sampleInput_radio06" checked readonly />
            <label for="sampleInput_radio06">라디오인풋06 checked readonly</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
    <p class="sub"> ㄴ small 버전 </p>
    <!-- ***************************************** source start ***************************************** -->
    <div class="fm_item ty-radio sz-small">
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name07" id="sampleInput_radio07" checked />
            <label for="sampleInput_radio07">라디오인풋07 checked</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name08" id="sampleInput_radio08" disabled />
            <label for="sampleInput_radio08">라디오인풋08 disabled</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name09" id="sampleInput_radio09" checked disabled />
            <label for="sampleInput_radio09">라디오인풋09 checked disabled</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name10" id="sampleInput_radio10" readonly />
            <label for="sampleInput_radio10">라디오인풋10 readonly</label>
        </div>
        <div class="fmInner">
            <input type="radio" name="sampleInput_radio_name11" id="sampleInput_radio11" checked readonly />
            <label for="sampleInput_radio11">라디오인풋11 checked readonly</label>
        </div>
    </div>
    <!-- *****************************************  source end  ***************************************** -->
</section>







{% endblock %}