@charset 'utf-8';
/* ---------------------------------------------------------
* FileName : _base.css
* ProjectName : 하이엠솔루텍 하이런 차세대
* Description : 베이스 스타일시트
* Author : zarel
* Date : 2024.11
--------------------------------------------------------- */

@use 'variables' as *;

.hirun-wrap, .hirun-wrap *, .hirun-wrap ::before, .hirun-wrap ::after { box-sizing:border-box; }
.hirun-wrap { min-width:1600px; font-family:'LG_Smart_H2.0', sans-serif; font-size:16px; font-weight:400; letter-spacing:-0.5px; color:$gray700;
    ::selection {  color:$white;  background-color:$primary;}

    
    

}



html.pg-ui { font-family:'LG_Smart_H2.0'; color:#515151;
    .hirun-wrap { min-width:100% !important; }
    h1 { margin-left:0px; padding:3px 5px; background-color:#d80546; font-family: 'LG_Smart_H2.0_L'; font-weight:100; color:#ffffff; }
    h2 { margin:0px 0 0px 0px; padding:5px; font-size:20px; font-weight:400; background-color:#2a2a2a; color:#fff; 
        &::before { content:"-"; display:inline-block; }
    }
    section { padding:30px;
        h3 { margin-left:-10px; padding:10px 0px;
            ~ h3 { margin-top:30px; }  
            ~ p { font-size:14px; color:$gray; margin-top:10px; margin-bottom:10px; 
                ~ p { margin-top:20px; }
            }
        }
    }
}