@charset 'utf-8';
/* ---------------------------------------------------------
* FileName : _base.css
* ProjectName : 하이엠솔루텍 하이런 차세대
* Description : 베이스 스타일시트
* Author : zarel
* Date : 2024.11
--------------------------------------------------------- */

@use 'variables' as *;
@use 'image' as *;


.pj-hirun, .pj-hirun *, .pj-hirun ::before, .pj-hirun ::after { box-sizing:border-box; }
.pj-hirun { @include font; font-size:16px; font-weight:400; letter-spacing:-0.5px; color:$gray700;
    .hirunWrap { min-width:1600px; }
    ::selection {  color:$white;  background-color:$primary;}
    a { color:inherit; }
    input, textarea, button { @include font; color:$gray700; }

    $spaceOptionList: t,r,b,l;
    @each $space in $spaceOptionList {
        @for $i from 0 to 21 { .m#{$space}-#{5*$i} { margin-left:5*$i+px !important; } }
        @for $i from 0 to 21 { .p#{$space}-#{5*$i} { margin-left:5*$i+px !important; } }
    } 

}



.pj-hirun.pg-ui { @include font; color:$gray700;
    .hirunWrap { min-width:100% !important; }
    h1 { margin-left:0px; padding:3px 5px;  @include fontL; background-color:$primary; color:$white; }
    h2 { margin:0px 0 0px 0px; padding:5px; font-size:20px; @include fontL; background-color:$gray700; color:$white; 
        &::before { content:"-"; display:inline-block; }
        + ul { padding:20px; 
            li {
                &::before { content:'* '; display:inline-block; }
                + li { margin-top:10px; }
            }
        }
    }
    section { padding:30px;
        h3 { margin-left:-10px; padding:10px 0px; font-weight:700; color:$gray700;
            ~ h3 { margin-top:30px; }  
            ~ p { font-size:14px; color:$gray; margin-top:15px; margin-bottom:15px; 
                b { color:$gray700; }
                ~ p { margin-top:30px; }
                + p { margin-top:0; 
                    &::before { content:' ㄴ '; display:inline-block; }
                    
                }
            }
        }
    }
}