@charset 'utf-8';
/* ---------------------------------------------------------
* FileName : _component.css
* ProjectName : 하이엠솔루텍 하이런 차세대
* Description : 컴포넌트 스타일시트
* Author : zarel
* Date : 2024.11
--------------------------------------------------------- */

@use 'variables' as *;
@use 'image' as *;

.pj-hirun{


    // 로그인 폼
    .cp_login { display:flex; row-gap:10px; flex-direction:column; justify-content:stretch; width:400px;
        .loginInput { position:relative; height:46px; border:1px solid $gray300; border-radius:8px;
            // input { width:100%; height:100%; padding:0 18px; border-radius:8px; border:0 solid transparent; @include fontR; font-size:16px; }
            // button { position:absolute; right:19px; top:50%; transform:translateY(-50%); width:16px; height:16px; padding:0 0 0 16px; border-radius:50%; border:0 solid transparent; background-color:$gray300; overflow:hidden;
            //     &::before { content:""; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(45deg); width:10px; height:2px; border-radius:1px; background-color:$gray700; }
            //     &::after { content:""; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(-45deg); width:10px; height:2px; border-radius:1px; background-color:$gray700; }
            // }
        }
        // .btn_login { height:46px; border-radius:8px; border:0 solid transparent; background-color:$primary; @include fontR; font-size:16px; color:$white; }
        .option { display:flex; justify-content:flex-end;  
            button { display:flex; align-items:center; height:38px; margin-right:auto; padding:0 18px; border-radius:8px; border:1px solid $gray700; background-color:transparent; @include fontR; font-size:16px; }
            label { display:inline-flex; align-items:center; @include fontR; font-size:16px; color:$gray;
                input { width:20px; height:20px; margin-right:4px; border-radius:4px; border:1px solid $gray700; }
            }
        }
    }


    // 통합검색
    .cp_integratedSearch { position:absolute; left:0; top:0; height:100%; width:100%; background-color:$white; @include transition;
        &:not(.is-active) { transform:translateY(-100%); }
        input { display:flex; align-items:center; width:100%; height:44px; margin:8px 0; padding:0 30px; border:0 solid transparent; text-align:center; font-size:24px; @include transition;
            &::placeholder { color:$gray300; }
        }
        .keyword { display:flex; justify-content:center; align-items:center; height:28px; margin-top:10px; @include transition;
            dt { display:inline-block; margin-right:14px; font-size:14px; @include fontSB; }
            dd { 
                + dd { margin-left:6px; }
            }
        }
        .bt_ntegratedSearch { position:absolute; right:100px;; top:50%; transform:translateY(-50%); }
        .bt_ntegratedSearchClose { position:absolute; right:50px;; top:50%; transform:translateY(-50%); }
        @at-root .sc-headerSmall .cp_integratedSearch input, .sc-headerSmall .cp_integratedSearch .keyword { margin-top:0; margin-bottom:0; }
    }


    // 뱃지
    .cp_badge { display:inline-flex; justify-content:center; align-items:center; height:28px; padding:0 8px; border-radius:8px; border:1px solid $gray200; background-color:$gray100; font-size:12px; color:$gray; cursor:pointer; @include transition;
        &:hover { border-color:$gray700; background-color:$gray700; color:$white; }
    }


    // 그리드
    .cp_grid { display:flex; width:100%;
        > * { flex:1; }
        &.isColumn { flex-direction:column; 
            > * + * { border-left-width:0 !important; border-top:1px solid $gray300; }
        }
        &.isPadding > * { padding:20px; }
        &.isBorder { border:1px solid $gray300; 
            > * + * { border-left:1px solid $gray300; }
        }
        &:has(:nth-child(1)) > * { flex-basis:calc(100 / 1 ); }
        &:has(:nth-child(2)) > * { flex-basis:calc(100 / 2 ); }
        &:has(:nth-child(3)) > * { flex-basis:calc(100 / 3 ); }
        &:has(:nth-child(4)) > * { flex-basis:calc(100 / 4 ); }
        &:has(:nth-child(5)) > * { flex-basis:calc(100 / 5 ); }
        &:has(:nth-child(6)) > * { flex-basis:calc(100 / 6 ); }
        &:has(:nth-child(7)) > * { flex-basis:calc(100 / 7 ); }
        &:has(:nth-child(8)) > * { flex-basis:calc(100 / 8 ); }
        &:has(:nth-child(9)) > * { flex-basis:calc(100 / 9 ); }
        &:has(:nth-child(10)) > * { flex-basis:calc(100 / 10 ); }
        &:has(:nth-child(11)) > * { flex-basis:calc(100 / 11 ); }
        &:has(:nth-child(12)) > * { flex-basis:calc(100 / 12 ); }
    }


    // 다이알로그 (팝업)
    .cp_dialog { position:fixed; left:0; top:0; z-index:100; width:100%; height:100%;
        &:not(.is-active) { z-index:-1; transition:all .1s ease-in-out .6s; 
            &::before { opacity:0; transition:opacity 3s ease-in-out; transition:all .3s ease-in-out .2s; }
            .cpInner { display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, 100vh); transition:all .3s ease-in-out .2s; }
        }
        &::before { content:''; display:block; width:100%; height:100%; background-color:#000000D9; color:$white; opacity:1; transition:opacity .3s ease-in-out; }
        .cpInner { display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); width:650px; min-width:650px; max-width:100%; height:auto; min-height:150px; max-height:100%; padding:30px; border-radius:24px; background-color:$white; transition:transform .3s ease-in-out .2s; }
        .cpHeader { display:flex; align-items:center; height:24px;
            .heading {  
                strong { font-size:18px; @include fontSB; }
            }
            .bt_dialogClose { margin-left:auto; margin-right:-5px;}
        }
        .cpFooter { margin-top:10px; }
        .cpMain { margin-top:20px; }
        &.ty-target {  
            &::before { display:none; }
            &:not(.is-active) { 
                .cpInner { transform:translateY(-10%); opacity:0; transition:all .3s ease-in-out .2s; }
            }
            .cpInner { left:auto; left:initial; top:auto; top:initial; transform:none; box-shadow:0 4px 10px 4px #0000000d;  transition:all .3s ease-in-out .2s; }
        }
        &.nm-workRegister { .cpInner { width:650px; min-width:650px; min-height:150px; } } // 공통헤더 업무등록
        // 공통헤더 웹메신저
        &.nm-webMessenger { .cpInner { right:50px; top:80px; width:320px; min-width:320px; min-height:320px; height:640px; max-height:640px; padding:0; background-color:$gray700; 
            .cpHeader { align-items:flex-start; margin-top:12px; padding:0 10px 0 20px;
                .heading { display:flex; justify-content:flex-start; align-items:center; height:16px; 
                    strong { font-size:12px; color:$gray300; @include fontL; }
                    button { margin-left:3px; }
                }
                .bt_dialogClose { margin-right:0;}
            }
            .cpMain { height:calc(100% - 36px); margin-top:8px;
                .received { margin-top:8px; padding:0 20px; color:$white;
                    dt { height:16px; font-size:14px; color:inherit; }
                    dd { display:flex; align-items:center; column-gap:6px; height:36px; margin-top:4px; font-size:16px; color:inherit;
                        em { font-size:32px; @include fontB; color:inherit; }
                    }
                }
                .contact { margin-top:16px; padding:0 20px; color:$gray;
                    dt { font-size:12px; color:inherit; }
                    dd { display:flex; flex-flow:row nowrap; column-gap:15px; height:58px; margin-top:6px; @include scroll(x,4,$white);
                        button { flex-shrink:0; @include profilePhoto;
                        }
                    }
                }
                .chat { display:flex; flex-flow:column nowrap; height:calc(100% - 164px); margin-top:8px; padding:10px 0 20px 0; border-radius:24px 24px 21px 21px; background-color:$white; overflow:hidden;
                    .search { flex-shrink:0; display:flex; align-items:center; position:relative; height:46px; margin:0 10px; padding:0 18px 0 20px; border-radius:24px; border:1px solid $gray300; 
                        input { flex:1; width:100%; margin:0; padding:0; border:0 solid transparent; font-size:14px; 
                            &::placeholder { color:$gray; }
                        }
                        button { width:24px; height:24px; padding-left:24px; @include bg($img_form_search, 24); overflow:hidden; }
                    }
                    .chatList { margin:10px 4px 0 4px; padding:0 16px; @include scroll(y,4);
                        ul { 
                            li { display:flex; column-gap:10px; align-items:center; padding-top:10px; overflow:hidden; cursor:pointer;
                                .photo { @include profilePhoto(40,2,$white); flex-shrink:0; }
                                .content { flex:1;
                                    .info { display:flex; align-items:center; min-height:16px; 
                                        .name { font-size:14px; @include fontSB; color:initial; }
                                        .region { margin-left:4px; font-size:12px; color:initial; }
                                        .time { margin-left:auto; font-size:12px; color:$gray; }
                                    }
                                    .message { margin-top:6px; font-size:14px; color:$gray; @include ellipsis(1) }
                                }
                                +li { margin-top:6px; }
                            }
                        }
                        .categoryDate { display:flex; column-gap:4px; align-items:center; height:16px; margin-top:20px; font-size:12px; color:$gray;
                            em { @include fontSB; color:$gray700; }
                        }
                    }
                }
                .controll { position:absolute; right:20px; bottom:20px;  }
            }
        } }
        // 공통헤더 나의 프로필 정보
        &.nm-profile { .cpInner { right:50px; top:80px; width:400px; min-width:400px; max-height:640px;
            .cpHeader { height:0;
                .heading { @include hide; }
            }

            // { position:relative; width:$size+px; height:$size+px; border-radius:50%; background-color:$gray300; @include bg($img_profileHirun,24);
            //     img { width:100%; height:100%; object-fit:cover;; border-radius:50%; overflow:hidden; }
            //     &::after { content:'온라인'; display:inline-block; position:absolute; right:0; bottom:$statusPosition+px; width:10px; height:10px; padding:0 0 0 6px; border-radius:50%; border:2px solid $lineColor; background-color:$plusColor; overflow:hidden; }
            //     &.is-online::after { content:'온라인'; background-color:$plusColor; }
            //     &.is-offline::after { content:'오프라인'; background-color:$minusColor; }

            .cpMain { margin:0;
                .fm_grid + .fm_grid { margin-top:10px; }
                .profile { display:flex; column-gap:20px; align-items:center;
                    .photo { @include profilePhoto(80); flex-shrink:0; width:80px; height:80px; background-size:44px auto;
                        &::after { content:''; display:none; }
                        button { position:absolute; right:0; top:-7px; width:24px; height:24px; padding-left:24px; border-radius:50%; background-color:$gray700; @include bg($img_camera,14); overflow:hidden; }
                    }
                    .info {
                        .region { line-height:24px; font-size:16px; @include fontSB; }
                        .welcome {
                            em { @include fontB; }
                        }
                        .date { display:flex; align-items:center; margin-top:10px; line-height:24px; font-size:14px; color:$gray; 
                            b {  @include fontSB; }
                            span { display:inline-block; position:relative; padding-left:16px;
                                &::before { content:''; display:block; position:absolute; left:8px; top:50%; transform:translateY(-50%); width:1px; height:10px; background-color:$gray300; }
                            }
                        }
                    }
                }
                .service { margin-top:20px; }
            }
        } }
        

    }



}