@charset 'utf-8';
/* ---------------------------------------------------------
* FileName : _page.css
* ProjectName : 하이엠솔루텍 하이런 차세대
* Description : 페이지 스타일시트 (로그인)
* Author : zarel
* Date : 2024.11
--------------------------------------------------------- */

@use 'variables' as *;

.hirun-wrap {


    /* button --------------------------------------------------------- */

    .a, a:link, a:active, a:visited { text-decoration:none; }
    [class^='btn_'] { cursor:pointer; margin:0; padding:0; border:0 solid transparent; background-color:transparent; }
    input { outline:none; }

    .btn_headerUtill { display:inline-block; padding-left:38px; width:38px; height:38px; border-radius:50%; border:1px solid $gray300; overflow:hidden; 
        &.bg-gray { border-color:$gray300; background-color:$gray300; }
        &.bg-primary { border-color:$primary; background-color:$primary; }
    }

    /* input --------------------------------------------------------- */

    .loginInput { position:relative; height:46px; border:1px solid $gray300; border-radius:8px;
        &:hover { border:1px solid $gray; }
        input { width:100%; height:100%; padding:0 18px; border-radius:8px; border:0 solid transparent; @include fontR; font-size:16px; 
            &:focus { border:1px solid $gray700;
                + button { animation:an-SBounce .3s ease-in-out; animation-fill-mode:forwards; }
            }   
        }
        button { position:absolute; right:19px; top:50%; transform:translateY(-50%) scale(0); width:16px; height:16px; padding:0 0 0 16px; border-radius:50%; border:0 solid transparent; background-color:$gray300; overflow:hidden;
            &::before { content:""; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(45deg); width:10px; height:2px; border-radius:1px; background-color:$gray700; }
            &::after { content:""; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(-45deg); width:10px; height:2px; border-radius:1px; background-color:$gray700; }
        }
    }
    .btn_login { position:relative; height:46px; border-radius:8px; border:0 solid transparent; background-color:$primary; @include fontR; font-size:16px; color:$white; overflow:hidden;
        &:hover { box-shadow:0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
        &:active { filter:brightness(1.1); }
        &::after { content:''; display:block; position:absolute; top:50%; left:50%; width:5px; height:5px; border-radius:50%; background:#ffffff20; transform-origin:left top; transform:scale(100%) translate(-50%, -50%); }
        &:focus:not(:active)::after { animation:an-btnActive .3s ease-in-out; animation-fill-mode:forwards; }
    }


}

[class*='ipt'] {
    .L-form-field { border-radius:8px; overflow:hidden; }
    input { font-size:16px;
        &::placeholder { font-size:inherit; }
    }
    &.ipt_text { position:relative; height:46px; 
        .L-form-field { width:100% !important; height:100%; border-radius:8px; overflow:hidden;
            &::before { content:''; display:block; position:absolute; left:4px; top:0; z-index:5; width:0; height:0; border-radius:8px; border:1px solid transparent; background-color:transparent; }
            &::after { content:''; display:block; position:absolute; right:4px; bottom:0; z-index:5; width:0; height:0; border-radius:8px; border:1px solid transparent; background-color:transparent;  }
            &:has(input:focus) { 
                &::before { left:0; width:100%; height:100%; border-top-color:$gray700; border-right-color:$gray700; transition:width .25s ease-out, height .25s ease-out .25s; }
                &::after { right:0; width:100%; height:100%; border-bottom-color:$gray700; border-left-color:$gray700; transition:right .25s ease-out .75s, border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s; }
                + label { display:inline-block; left:16px; top:-12px; z-index:10; width:auto; height:20px; padding:2px; font-size:12px; background-color:#ffffff; line-height:20px; }
            }
            &:has(input:valid) { 
                &::before { left:0; width:100%; height:100%; border-top-color:$gray700; border-right-color:$gray700; transition:width .25s ease-out, height .25s ease-out .25s; }
                &::after { right:0; width:100%; height:100%; border-bottom-color:$gray700; border-left-color:$gray700; transition:right .25s ease-out .75s,  border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s; }
                + label { right:0; display:inline-block; left:16px; top:-12px; z-index:10; width:auto; height:20px; padding:2px; font-size:12px; background-color:#ffffff; line-height:20px; }
            }
        }
        label { position:absolute; left:0; top:0; width:100%; height:100%; padding:0 0 0 16px; line-height:46px; color:$gray; transition:all .3s ease-in-out; }
        input { position:relative; z-index:10; width:100% !important; height:100%; padding:0 0 0 16px; background-color:transparent; 
            // &:focus + label { top:-10px; height:26px; font-size:14px; }
        }

    }
}

.L-textbox-list-wrappe { border-radius:8px; border:1px solid $gray300; }