@charset 'utf-8';
/* ---------------------------------------------------------
* FileName : _page.css
* ProjectName : 하이엠솔루텍 하이런 차세대
* Description : 페이지 스타일시트 (로그인)
* Author : zarel
* Date : 2024.11
--------------------------------------------------------- */

@use 'variables' as *;
@use 'image' as *;


/* login --------------------------------------------------------- */

.pj-hirun.pg-login { height:100%;
    body { height:100%; }
    .hirunWrap { display:flex; height:100%; 
        .visual { display:block; flex:1; position:relative; z-index:10; background-position-y:bottom; }
        .container { flex:1; display:flex; flex-direction:column; justify-content:center; padding:50px;
            .header { flex:1; display:flex; flex-direction:column; justify-content:flex-start; padding-bottom:2%;
                h1 { @include fontB; line-height:24px; font-size:40px; color:$primary; }
                p { margin-top:26px; @include fontSB; font-size:20px; color:$gray700; }
            }
            .footer { flex:1; display:flex; flex-direction:column; justify-content:flex-end; padding-top:3%; 
                p { @include fontR; font-size:16px; color:$gray; }
            }
            .main { 
                h2 { @include fontB; font-size:40px; color:$gray700; }
                p { margin-top:20px; @include fontR; line-height:24px; font-size:16px; color:$gray; }
                .cpnt_login { margin-top:50px; }
            }
        }
    }
}

.cp_form {
    select, input:not([type=checkbox], [type=radio]) { width:100%; height:40px; padding:0 10px; border-radius:8px; border:1px solid #d1d5db; box-shadow:var(0 0 #000000,0 0 #0000),0 0 #0000,0 1px 2px 0 rgba(0,0,0,.05); }
    &:has(button) { display:flex; gap:10px;
        button, a { flex:1; display:flex; justify-content:center; align-items:center; height:40px; border-radius:8px; background-color:$gray700; color:$white; 
            &.cl_second { background-color:$gray300; color:$gray700; }
        }
    }
}


.pj-hirun.pg-initializeShipManagement { 
    h2.heading { font-size:20px; font-weight:700; 
    + .cp_searchBox { margin-top:20px; }
    }
    .cp_searchBox { display:flex; flex-wrap:wrap; flex-direction:row; gap:20px; padding:30px; border-radius:16px; border:1px solid #e5e7eb; box-shadow:0 6px 20px #3b4c6a21, 0 1.34px 4.467px #3b4c6a14, 0 .3px 1.3px #3b4c6a0d; overflow:hidden;
        
        .citem { flex-grow:0; flex-shrink:0; flex-basis:calc((100% / 4) - 15px);

        }
    }
    .cp_contentBox {  
        h3.heading {  }
    }

}

