@charset 'utf-8';
/* ---------------------------------------------------------
* FileName : _variables.css
* ProjectName : 하이엠솔루텍 하이런 차세대
* Description : 변수 스타일시트
* Author : zarel
* Date : 2024.11
--------------------------------------------------------- */

@use 'image' as *;

// 경로변경 $assPath: "../../assets";
$assPath: "../..";
$imgPath: "../../images/newHiRun";
$fontPath: "../../fonts";

/* color */
$primary:#BB0841;
$primary300:#DA4453;
$primary700:#9E0736;
// 0881bb

$gray:#6C6C6C;
$gray100:#F5F7FA;
$gray200:#E6E9ED;
$gray300:#DEDEDE;
$gray700:#2A2A2A;

$black:#000000;
$white:#ffffff;

$plusColor:#A0D468;
$minusColor:#ED5565;



/* font */
@mixin font { font-family:'LG_Smart_H2.0', sans-serif; font-weight:400; } 
@mixin font_lgL { font-family:'LG_Smart_H2.0', sans-serif; font-weight:300; } 
@mixin font_lgR { font-family:'LG_Smart_H2.0', sans-serif; font-weight:400; } 
@mixin font_lgSB { font-family:'LG_Smart_H2.0', sans-serif; font-weight:600; } 
@mixin font_lgB { font-family:'LG_Smart_H2.0', sans-serif; font-weight:700; } 

@mixin fontL { font-weight:300; }
@mixin fontR { font-weight:400; }
@mixin fontSB { font-weight:600; }
@mixin fontB { font-weight:700; }


/* display */
@mixin hide { position:absolute; width:1px; height:1px; clip:rect(-1px, -1px, -1px, -1px); margin:0; padding:0; overflow:hidden; }
@mixin show { position:static; width:auto; height:auto; clip:auto; margin:0; padding:0; overflow:visible; }
@mixin none { display:none !important; }


@mixin x($wrap:24,$xw:10, $xh:2,$color:$black) { position:relative; width:$wrap+px; height:$wrap+px;  padding-left:$wrap+px; /*font-size:18px; @include fontSB;*/ overflow:hidden;
    &::before { content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(45deg); width:$xw+px; height:$xh+px; background-color:$color; }
    &::after { content:''; display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%) rotate(-45deg); width:$xw+px; height:$xh+px; background-color:$color; }
}

@mixin scroll($axis:y, $size:2, $color:$gray700,$opacity:1A, $opacity2:33 ) { overflow:hidden; 
    @if $axis == x { overflow-x:auto; } 
    @else { overflow-y:auto; }
    &::-webkit-scrollbar { width:$size+px; height:$size+px;  }
    &::-webkit-scrollbar-button {  }
    &::-webkit-scrollbar-track-piece {  }
    &::-webkit-scrollbar-thumb { border-radius:10px; border:0 solid transparent; background-color:#{$color+'1A'}; cursor:pointer;
        &:hover {  background-color:#{$color+'33'};  }
    }
}

@mixin profilePhoto($size:50,$statusPosition:5,$lineColor:$gray700) { position:relative; width:$size+px; height:$size+px; border-radius:50%; background-color:$gray300; @include bg($img_profileHirun,24);
    img { width:100%; height:100%; object-fit:cover;; border-radius:50%; overflow:hidden; }
    &::after { content:'온라인'; display:inline-block; position:absolute; right:0; bottom:$statusPosition+px; width:10px; height:10px; padding:0 0 0 6px; border-radius:50%; border:2px solid $lineColor; background-color:$plusColor; overflow:hidden; }
    &.is-online::after { content:'온라인'; background-color:$plusColor; }
    &.is-offline::after { content:'오프라인'; background-color:$minusColor; }
}

@mixin ellipsis($line:1,$lineHeight:1) { display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; text-overflow:ellipsis; line-height:$lineHeight; overflow:hidden; }

@mixin transition($time:.3) { transition:all $time+s ease-in-out; }


/* form */
// @mixin inputbox { position:relative; z-index:25; width:100% !important; height:100%; padding:0 14px; border:0 solid transparent; background-color:transparent; }

;@mixin inputboxFocusLabel { display:inline; left:11px; top:-13px; z-index:10; height:20px; padding:4px !important; font-size:12px; background-color:#ffffff; text-shadow:-1px 0px $white, 0px 1px $white, 1px 0px $white, 0px -1px $white; line-height:20px; color:$gray700; @include fontSB; } 
@mixin inputSpin {
    div.icon { position:absolute; right:0; z-index:20; width:30px; height:100%;
        .L-spin-up { position:absolute; right:0; top:0; width:30px; height:22px; }
        .L-spin-down { position:absolute; right:0; bottom:0; width:30px; height:22px; }
    }    
} 
@mixin inputWrap { /*display:flex; position:relative; */ display:block; width:100% !important; font-size:16px;
    .fmInner { display:flex; align-items:center; position:relative; width:100%; height:46px; padding-right:14px; border-radius:8px; border:1px solid $gray300; font-size:inherit; }
    input, textarea { position:relative; z-index:25; width:100%; height:100%; padding:0 14px; border:0 solid transparent; background-color:transparent; font-size:inherit; }
    textarea { padding:14px; }
    label { display:flex; align-items:center; position:absolute; left:0; top:0; z-index:10; width:fit-content; max-width:100%; height:100%;; padding:0 14px; line-height:100%; font-size:inherit; color:$gray; @include transition; white-space:nowrap; }
    .fmInner::before { content:''; display:block; position:absolute; left:4px; top:0; z-index:5; width:0; height:0; border-radius:8px; border:1px solid transparent; background-color:transparent; }
    .fmInner::after { content:''; display:block; position:absolute; right:4px; bottom:0; z-index:5; width:0; height:0; border-radius:8px; border:1px solid transparent; background-color:transparent;  }
}
@mixin inputTransparent { position:relative; z-index:15; width:100% !important; height:100%; padding:0 0 0 16px; background-color:transparent; }
@mixin inputLineActive($color:$gray700) {
    label { @include inputboxFocusLabel; }
    &::before { left:0; width:100%; height:100%; border-top-color:$color; border-right-color:$color; transition:width .25s ease-out, height .25s ease-out .25s; }
    &::after { right:0; width:100%; height:100%; border-bottom-color:$color; border-left-color:$color; transition:right .25s ease-out .75s, border-color 0s ease-out .5s, width .25s ease-out .5s, height .25s ease-out .75s; }
}

@mixin checkWrap { display:flex;
    .fmInner { display:flex; position:relative; min-height:24px; cursor:pointer; white-space:nowrap;
        &:not(:last-child) { margin-right:30px; }
        > * { cursor:pointer; }
        input { @include hide; 
            + label { display:inline-block; min-height:24px; padding-left:32px; padding-top:4px; font-size:16px; color:$gray;
                &::before { content:''; display:inline-block; position:absolute; left:0; top:50%; transform:translateY(-50%); width:24px; height:24px; margin-right:8px; border-radius:4px; border:1px solid $gray300; vertical-align:middle; overflow:hidden; }
            }
            &:checked {
                + label { color:$gray700;
                    &::before { @include bg($img_form_check,14); background-color:$primary; border-color:$primary;  }
                }
            }
        }
    }
    
}

@mixin radioWrap { position:relative; cursor:pointer; 
    &:not(:last-child) { margin-right:30px; }
    > * { cursor:pointer; }
    input { @include hide; 
        + label { display:inline-block; min-height:24px; padding-left:30px; padding-top:3px;
            &::before { content:''; display:inline-block; position:absolute; left:0; top:50%; transform:translateY(-50%); width:24px; height:24px; margin-right:4px; border-radius:50%; border:1px solid $gray300; vertical-align:middle; overflow:hidden; }
            &::after { content:''; display:inline-block; position:absolute; left:6px; top:50%; transform:translateY(-50%); width:0; height:0; margin-right:4px; border-radius:50%; background-color:$primary; vertical-align:middle; overflow:hidden; }
        }
        &:checked {
            + label {
                &::before { border-color:$primary; }
                &::after { width:12px; height:12px; }
            }
        }
    }
    
}

