/* Block : supportMenu
---------------------------------------------------------*/
#LblockSupportMenu {
}
#LblockSupportMenu li {
	display:inline;
	color:#D7F5F2;
	padding:0px 7px 0px 10px;
	font-size:0.8em;
	background:url(../images/supportMenu_bar.gif) no-repeat 0 50%;
	font-family:Arial;
}
#LblockSupportMenu li.Lfirst {
	background:none;
}
#LblockSupportMenu li a {
	text-decoration:none;
	color:#D7F5F2;
}
#LblockSupportMenu li a:hover {
	color:#fff;
}

/* Block : headerIn
---------------------------------------------------------*/
#LblockHeaderIn {
	background:url(../images/headerIn_bg.gif) repeat-x;
}

/* Block : body
---------------------------------------------------------*/
div#LblockBody {
	padding:10px 10px 10px 248px;
}
body#LblockBody {
	padding:10px 10px 10px 15px;
}

/* Block : leftTitle
---------------------------------------------------------*/
#LblockLeftTitle {
}
#LblockLeftTitle h1 {
	padding-top:6px;
	padding-left:20px;
	padding-bottom:5px;
	line-height:27px;
	color:#fafafa;
	font-size:1.2em;
	background:url(../images/leftTitle_bg.gif) no-repeat right top;
}

/* Block : footerLogo
---------------------------------------------------------*/
#LblockFooterLogo a {
	font-size:1.2em;
	font-weight:bold;
	color:#999;
	text-decoration:none;
}

/* Block : footerIn
---------------------------------------------------------*/
#LblockFooterIn {
}

/* Block : left
---------------------------------------------------------*/
#LblockLeft {
	
}

body#LblockLeft {
	
}

/* Block : leftMenuStyle
---------------------------------------------------------*/
#LblockLeftMenuStyle {
	line-height:15px;
}
#LblockLeftMenuStyle img {
	vertical-align:top;
	cursor:pointer;
}
/* Block : leftMenu
---------------------------------------------------------*/
/* --------- slide menu --------- */
#LblockLeftMenu {
	background: #f7f7f8;
	border-top: none;
}

#LblockLeftMenu.LslideMenu li {
	background: url(../images/leftMenu_bg.gif) repeat-x left bottom;
}

#LblockLeftMenu.LslideMenu li.Lcurrent a {
    font-weight: bold;
    color:#dd1d56;
}

#LblockLeftMenu.LslideMenu li.Lopen li.Lopen a {
	color:#de1d54;
}

#LblockLeftMenu.LslideMenu li.Lopen li.Lopen li.Lcurrent a {
	font-weight: bold;
	color:#dd1d56;
}

#LblockLeftMenu.LslideMenu li.Lopen li.Lopen li a {
	color: #111111;
	font-weight: normal;
	padding-left: 8px;
}

#LblockLeftMenu.LslideMenu li.Lcurrent li a,#LblockLeftMenu.LslideMenu li.Lcurrent li li a
	{
	color: #3B96E5;
	font-weight: normal;
}

#LblockLeftMenu.LslideMenu li.Lfirst {

}

#LblockLeftMenu.LslideMenu li {
	background:url(../images/left_bg.gif);
}

#LblockLeftMenu.LslideMenu li.Llast {
	background:url(../images/left_bg_last.gif);
}


#LblockLeftMenu.LslideMenu li li {
	border: none;
	background: none;
	padding: 0;
}

#LblockLeftMenu.LslideMenu li li.Llast {
	border: none;
	background: none;
	padding: 0;
}

#LblockLeftMenu.LslideMenu li.Lopen li span {
	border: none;
	padding-left: 22px;
	border-left:1px solid #bababa;
	border-right:1px solid #bababa;
}

#LblockLeftMenu.LslideMenu li.Lopen li li span,#LblockLeftMenu.LslideMenu li li li span
	{
	background-position: 22px -50px;
}

#LblockLeftMenu.LslideMenu li span {
	display: block;
	font-weight: bold;
	padding: 4px 13px 5px 28px;
	background: url(../images/leftMenu_blt_1.gif) no-repeat 18px;
}

#LblockLeftMenu.LslideMenu li.Lopen span {

}

* html #LblockLeftMenu.LslideMenu li span {
	height: 1%;
}

*:first-child+html #LblockLeftMenu.LslideMenu li span {
	min-height: 1%;
}

#LblockLeftMenu.LslideMenu li span a {
	color: #545655;
	font-weight: bold;
	line-height: 24px;
}

#LblockLeftMenu.LslideMenu li.Llast span a {

}


#LblockLeftMenu.LslideMenu li.Lopen span a {

}

#LblockLeftMenu.LslideMenu li.Lopen li span a {
	color: #111111;
}

#LblockLeftMenu.LslideMenu li span a:hover,#LblockLeftMenu.LslideMenu li span a:active
	{
	color: #0770FF;
}
/* 2 depth */
#LblockLeftMenu.LslideMenu li ul {
	display: none;
	width: 100%;
	background: #fff;
	border-left: none;
	border-bottom: 1px solid #c2c2c2;
	border-right: none;
}

#LblockLeftMenu.LslideMenu li.Lopen ul {
	display: block;
	background-color:#f5f5f5;
}

#LblockLeftMenu.LslideMenu li li {
	background: none;
	padding: 0;
}
#LblockLeftMenu.LslideMenu li li.Llast {
	background: none;
	padding: 0;
}

#LblockLeftMenu.LslideMenu li li span {
	display: block;
	padding: 5px 0 5px 0px;
	font-weight: normal;
	background: url(../images/leftMenu_blt_2.gif) no-repeat 22px;
}

#LblockLeftMenu.LslideMenu li li.Llast span a {
	color: #111111;
	line-height: 16px;
}

#LblockLeftMenu.LslideMenu li li span a {
	margin-left:8px;
	color: #898989;
	font-weight: normal;
	line-height: 20px;
}

/* 3 depth */
#LblockLeftMenu.LslideMenu li li ul {
	border: none;
}

#LblockLeftMenu.LslideMenu li.Lopen li ul {
	display: none;
}

#LblockLeftMenu.LslideMenu li li.Lopen ul {
	display: block;
	background: #e4e4e4;
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
}

#LblockLeftMenu.LslideMenu li li li span {
	display: block;
	padding: 2px 0 2px 32px;
	font-weight: normal;
	background: url(../images/leftMenu_blt.gif) no-repeat 24px -48px;
}

#LblockLeftMenu.LslideMenu li li li span a {
	font-weight: normal;
	line-height: 18px;
	color: #3E94E7;
}
#LblockLeftMenu.LtreeMenu {
	background:url(../images/left_bg_tree.gif) repeat-y left top;
}
* html #LblockLeftMenu.LtreeMenu {
	height:1%;
}
html #LblockLeftMenu.LtreeMenu {
	min-height:1%;
}
#LblockLeftMenu.LtreeMenu ul {
	display:none;
}
#LblockLeftMenu.LtreeMenu ul {
	padding-top:3px;
}
#LblockLeftMenu.LtreeMenu a:link,
#LblockLeftMenu.LtreeMenu a:visited {
	text-decoration:none;
	color:black;
}
#LblockLeftMenu.LtreeMenu a:hover, 
#LblockLeftMenu.LtreeMenu a:focus {
	text-decoration:none;
	color:black;
}
#LblockLeftMenu.LtreeMenu li.Lcurrent a {
	color:#489CCA;
	font-weight:bold;
}
#LblockLeftMenu.LtreeMenu li.Lcurrent li a,
#LblockLeftMenu.LtreeMenu li.Lcurrent li li a {
	color:#000;
	font-weight:normal;
}
.LtreeDragged a:link, .LtreeDragged a:visited {
	text-decoration:none;
	color:black;
}
.LtreeDragged a:hover, .LtreeDragged a:focus {
	text-decoration:none;
	color:black;
}
span.LtreeDragItem span {
	padding-left:2px;
}
.LtreeDragged {
	border:1px dashed #bbb;
	background:#fff;
}
.LtreeDragged * {
	vertical-align:middle;
}
.LtreeDragged a:link, .LtreeDragged a:visited {
	text-decoration:none;
	color:black;
}
.LtreeDragged a:hover, .LtreeDragged a:focus {
	text-decoration:none;
	color:black;
}
.LtreeClone {
	background-color:#eef;
}
.LtreeBoundLine {
	height:2px;
	background-color:#555;
}

/* Block : wrapper
---------------------------------------------------------*/
#LblockWrapper {
}
* html #LblockWrapper {
	height:1%;
}

/* Block : footerMenu
---------------------------------------------------------*/
#LblockFooterMenu li {
	background:url(../images/footer_eng.gif) no-repeat;
}
#LblockFooterMenu li.Lfirst {
	background:none;
}
#LblockFooterMenu li a {
	text-decoration:none;
}

/* Block : left
---------------------------------------------------------*/
#LblockLeft {
}

/* Block : welcome
---------------------------------------------------------*/
#LblockWelcome {
	text-align:right;
	color:#9b9b9b;
	padding-left:7px;
}
#LblockWelcome span {
	font-weight:bold;
	color:#e7e7e7;
	background:url(../images/welcome_icon.gif) no-repeat;
	padding-left:16px;
}
#LblockWelcome a {
	position:absolute;
	display:block;
	top:-5px;
	right:-67px;
	background:url(../images/logout.gif) no-repeat;
	width:57px;
	padding-top:22px;
	overflow:hidden;
	height:0px;
}

/* Block : leftMenuStyle
---------------------------------------------------------*/
#LblockLeftMenuStyle {
	line-height:15px;
}
#LblockLeftMenuStyle img {
	vertical-align:top;
	cursor:pointer;
}

/* Block : skipLink
---------------------------------------------------------*/
#LblockSkipLink {
	position:absolute;
	width:0;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	visibility:hidden;
}

/* Block : header
---------------------------------------------------------*/
#LblockHeader {
	background:url(../images/header_bg.gif) repeat-x;
}

/* Block : topLogo
---------------------------------------------------------*/
#LblockTopLogo a {
}

/* Block : footer
---------------------------------------------------------*/
#LblockFooter {
	padding-top:0px;
	color:#a0a0a0;
	font-size:0.9em;
	background:url(../images/footer_bg.gif) repeat-x left top;
}
body#LblockFooter {
	font-size:0.7em;
}


/* Block : footerCopyright
---------------------------------------------------------*/
#LblockFooterCopyright span {
	line-height:21px;
}

/* Block : topMenu
---------------------------------------------------------*/
#LblockTopMenu {
}
#LblockTopMenu ul {
	width:780px;
}
#LblockTopMenu li {
	background:url(../images/topMenu_tab_left.gif) no-repeat left bottom;
	float:left;
}
#LblockTopMenu li span {
	display:block;
	padding:0px 15px 0;
	background:url(../images/topMenu_tab_right.gif) no-repeat right bottom;
}
#LblockTopMenu li span a {
	padding-top:2px;
	display:block;
	line-height:31px;
	font-weight:bold;
	color:#bcbabb;
	text-decoration:none;
}
#LblockTopMenu li.Lcurrent {
	background:url(../images/topMenu_tab_left.gif) no-repeat left top;
}
#LblockTopMenu li.Lcurrent span {
	background:url(../images/topMenu_tab_right.gif) no-repeat right top;
}
#LblockTopMenu li.Lcurrent span a {
	font-weight:bold;
}
#LblockTopMenu li.Lcurrent span a,
#LblockTopMenu li.Lcurrent span a:hover {
	color:#ffffff;
}
#LblockTopMenu li span a:hover {
	color:#fff;
	text-decoration:underline;
}
#LblockTopMenu li ul {
	position:absolute;
	top:25px;
	display:none;
	background:none;
}
#LblockTopMenu li li,
#LblockTopMenu li.Lcurrent li {
	background:none;
	margin-right:0px;
}
#LblockTopMenu li li span,
#LblockTopMenu li.Lcurrent li span {
	padding:0px 8px;
	background:none;
}
#LblockTopMenu li li span a {
	line-height:57px;
	color:#aaaaaa;
	font-weight:normal;
	background:none;
}
#LblockTopMenu li.Lcurrent li span a {
	font-weight:normal;
	color:#aaaaaa;
}
#LblockTopMenu li li.Lcurrent span a {
	font-weight:bold;
	color:#464646;
}
#LblockTopMenu li.Lcurrent li span a:hover,
#LblockTopMenu li li span a:hover,
#LblockTopMenu li li span a:active {
	color:#474747;
}

/* Block : totalSearch
---------------------------------------------------------*/
#LblockTotalSearch {
	padding:0 20px 4px 4px;
	background:url(../images/header_bg.gif) repeat-x left top;
	font-size:0.9em;
	color:#D7F5F2;
}
* html #LblockTotalSearch {
	padding:0 20px 2px 4px;
}
html #LblockTotalSearch {
	padding:0 20px 2px 4px;
}
#LblockTotalSearch label {
	display:none;
}
#LblockTotalSearch input.Ltext {
	height:11px;
	width:120px;
}
#LblockTotalSearch .Limage {
	margin-left:5px;
}

