{% set isNotHeaderFooter = false %}
{% set cat = 'etc' %}
{% set page = 'main' %}
{% set title = 'Him Hi-Run System - main' %}
{% extends './_include/layout.html' %}


{% block main %}
<div class="container">
    <section class="currentStatus">
        <h2 class="heading"><strong>하이런</strong>님의 2024년 11월 1일 기준 서비스 현황</h2>
        <ul>
        <li class="col1 icon-28 person is-up" data-aos="fade-right" data-aos-delay="0" data-aos-easing="ease-in-sine"> <em>SE인원</em> <span><b class="numCounter">154</b>명</span> <p>지난달보다 15% 증가했어요</p> </li>
        <li class="col1 icon-28 accept is-down" data-aos="fade-right" data-aos-delay="50" data-aos-easing="ease-in-sine"> <em>당월 접수 건</em> <span><b class="numCounter">122</b>건</span> <p>지난달보다 15% 감소했어요</p> </li>
        <li class="col1 icon-28 process is-down" data-aos="fade-right" data-aos-delay="100"
        23aos-easing="ease-in-sine"> <em>당월 처리 건</em> <span><b class="numCounter">94</b>건</span> <p>지난달보다 7% 감소했어요</p> </li>
        <li class="col1 icon-28 unprocess is-up" data-aos="fade-right" data-aos-delay="150"
        23aos-easing="ease-in-sine"> <em>당월 미처리 건</em> <span><b class="numCounter">28</b>건</span> <p>지난달보다 3% 증가했어요</p> </li>
        <li class="col1 icon-28 requiredDays is-same" data-aos="fade-right" data-aos-delay=
        23data-aos-easing="ease-in-sine"> <em>평균 처리 소요일</em> <span><b class="numCounter">1.2</b>일</span> <p>지난달과 동일해요</p> </li>        </ul>
    </section>
    <div class="latestCollection">
        <section class="col1 latest is-badge payment">
        <h2 class="heading">결재 처리 현황</h2>
        <a class="btn-icon icon-16 more" href="javascript:void(0);">전체보기</a>
        <ul class="box">
            <li><a href="javascript:void(0);">자재실사 결재대상</a> <span class="badge badge-status is-complete">완료</span></li>
            <li><a href="javascript:void(0);">견적 결재대상</a> <span class="badge badge-status is-wait">대기</span></li>
            <li><a href="javascript:void(0);">적자매출 결재대상</a> <span class="badge badge-status is-wait">대기</span></li>
            <li><a href="javascript:void(0);">칠러(납품,시운전) 결재대상...</a> <span class="badge badge-status is-complete">완료</span></li>
            <li><a href="javascript:void(0);">AR 확정 취소 결재대상</a> <span class="badge badge-status is-complete">완료</span></li>
            <li><a href="javascript:void(0);">총무 결재대상</a> <span class="badge badge-status is-wait">대기</span></li>
            <li><a href="javascript:void(0);">외주비 지급 결재대상</a> <span class="badge badge-status is-complete">완료</span></li>
            <li><a href="javascript:void(0);">운행일지 결재대상</a> <span class="badge badge-status is-complete">완료</span></li>
            <li><a href="javascript:void(0);">PL 결재대상</a> <span class="badge badge-status is-wait">대기</span></li>
            <li><a href="javascript:void(0);">개인정보조회결제대상</a> <span class="badge badge-status is-wait">대기</span></li>
        </ul>
        </section>
        <section class="col2 latestHistory">
            <h2 class="heading">서비스 처리 현황</h2>
            <a class="btn-icon icon-16 more" href="javascript:void(0);">전체보기</a>
            <div class="box ui_tab">
                <div class="ui_tab_buttons">
                    <button class="is-active" type="button">통합수리이력</button>
                    <button type="button">견적/계약이력</button>
                    <button type="button">변경이력</button>
                </div>
                <div class=" ui_tab_pannels">
                    <ul>
                        <li>
                            <a class="item" href="javascript:void(0);">
                                <div class="status"><b>A</b><span>일반건</span></div>
                                <div class="info">
                                <div class="ttext">
                                    <b class="name">강민호</b>
                                    <span class="date">2024/11/08 19:16</span>
                                    <span class="badges">
                                    <span class="badge badge-status">2인</span>
                                    <span class="badge badge-status is-complete">처리완료</span>
                                    </span>
                                </div> 
                                <div class="btext">
                                    <span class="type">시스템 천정형</span>
                                    <span class="badge badge-status">냉방</span>
                                    <span class="address">서울시 강서구 마곡중앙로 33 마곡엠벨리 14단지 ...</span>
                                </div> 
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item is-pl" href="javascript:void(0);">
                                <div class="status"><b>PL</b><span>우선건</span></div>
                                <div class="info">
                                <div class="ttext">
                                    <b class="name">강민호</b>
                                    <span class="date">2024/11/08 19:16</span>
                                    <span class="badges">
                                    <span class="badge badge-status">2인</span>
                                    <span class="badge badge-status is-wait">처리완료</span>
                                    </span>
                                </div> 
                                <div class="btext">
                                    <span class="type">시스템 천정형</span>
                                    <span class="badge badge-status">냉방</span>
                                    <span class="address">서울시 강서구 마곡중앙로 33 마곡엠벨리 14단지 ...</span>
                                </div> 
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item is-pl" href="javascript:void(0);">
                                <div class="status"><b>PL</b><span>우선건</span></div>
                                <div class="info">
                                <div class="ttext">
                                    <b class="name">강민호</b>
                                    <span class="date">2024/11/08 19:16</span>
                                    <span class="badges">
                                    <span class="badge badge-status is-wait">미처리</span>
                                    </span>
                                </div> 
                                <div class="btext">
                                    <span class="type">시스템 천정형</span>
                                    <span class="badge badge-status">냉방</span>
                                    <span class="address">서울시 강서구 마곡중앙로 33 마곡엠벨리 14단지 ...</span>
                                </div> 
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="item" href="javascript:void(0);">
                                <div class="status"><b>A</b><span>일반건</span></div>
                                <div class="info">
                                <div class="ttext">
                                    <b class="name">강민호</b>
                                    <span class="date">2024/11/08 19:16</span>
                                    <span class="badges">
                                    <span class="badge badge-status">2인</span>
                                    <span class="badge badge-status is-complete">처리완료</span>
                                    </span>
                                </div> 
                                <div class="btext">
                                    <span class="type">시스템 천정형</span>
                                    <span class="badge badge-status">냉방</span>
                                    <span class="address">서울시 강서구 마곡중앙로 33 마곡엠벨리 14단지 ...</span>
                                </div> 
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="col1 latest technology">
            <h2 class="heading">기술자료</h2>
            <a class="btn-icon icon-16 more" href="javascript:void(0);">전체보기</a>
            <ul class="box">
                <li><a href="javascript:void(0);">MCS 매뉴얼 정식버전 V1.0.4</a></li>
                <li><a href="javascript:void(0);">MCS화상교육-맵핑기능/혼합결제/M...</a> </li>
                <li><a href="javascript:void(0);">칠러서비스-하이런매출(결과)등록...</a></li>
                <li><a href="javascript:void(0);">칠러(납품,시운전) 결재대상...</a></li>
                <li><a href="javascript:void(0);">무료푸쉬문자 매뉴얼 - 하이런 PUSH...</a> </li>
                <li><a href="javascript:void(0);">MCS 매뉴얼 정식버전 V1.0.4</a></li>
                <li><a href="javascript:void(0);">MCS화상교육-맵핑기능/혼합결제/M...</a> </li>
                <li><a href="javascript:void(0);">칠러서비스-하이런매출(결과)등록...</a></li>
                <li><a href="javascript:void(0);">MCS 매뉴얼 정식버전 V1.0.4</a></li>
                <li><a href="javascript:void(0);">MCS화상교육-맵핑기능/혼합결제/M...</a> </li>
            </ul>
        </section>
        <section class="col1 latest notice">
            <h2 class="heading">공지사항</h2>
            <a class="btn-icon icon-16 more" href="javascript:void(0);">전체보기</a>
            <ul class="box">
                <li><a href="javascript:void(0);">MCS 매뉴얼 정식버전 V1.0.4</a></li>
                <li><a href="javascript:void(0);">MCS화상교육-맵핑기능/혼합결제/M...</a> </li>
                <li><a href="javascript:void(0);">칠러서비스-하이런매출(결과)등록...</a></li>
                <li><a href="javascript:void(0);">칠러(납품,시운전) 결재대상...</a></li>
                <li><a href="javascript:void(0);">무료푸쉬문자 매뉴얼 - 하이런 PUSH...</a> </li>
                <li><a href="javascript:void(0);">MCS 매뉴얼 정식버전 V1.0.4</a></li>
                <li><a href="javascript:void(0);">MCS화상교육-맵핑기능/혼합결제/M...</a> </li>
                <li><a href="javascript:void(0);">칠러서비스-하이런매출(결과)등록...</a></li>
                <li><a href="javascript:void(0);">MCS 매뉴얼 정식버전 V1.0.4</a></li>
                <li><a href="javascript:void(0);">MCS화상교육-맵핑기능/혼합결제/M...</a> </li>
            </ul>
        </section>
    </div>

</div> 

<script>
AOS.init();
</script>

{% endblock %}
